#container {
  width: 400px;
  background-color: cadetblue;
  padding: 20px;
}
#container h1,
.blue {
  color: aliceblue;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 15px 0;
}
.list > li {
  background-color: aliceblue;
  padding: 5px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
.btn button {
  padding: 5px;
  width: 50px;
  background-color: aliceblue;
  border: 1px aliceblue;
}
